@page "/"

@* <PageTitle>Home</PageTitle> *@

<h1>Next Talk</h1>
<p>Here is where we would highlight the next talk and even have a cool little countdown to when it starts</p>

<h1>Upcoming Talks</h1>
<p>Here is where we would have upcoming talks</p>

<h1>Previous Talks</h1>
<p>Here is where we would load previous talks from the database</p>